:root {
  --primiary-color: #0d619e;
  --dela: "Dela Gothic One", cursive;
  --poppins: "Poppins", sans-serif;
  --secondary-color: #194a7a;
  --dm: "DM Sans", sans-serif;
  --nunito: "Nunito", sans-serif;
  --poet: "Poetsen One", sans-serif;
  --lobster: "Lobster", sans-serif;
  --indie: "Indie Flower", cursive;
  --dancing: "Dancing Script", cursive;
  --josef: "Josefin Sans", sans-serif;
  --public: "Public Sans", sans-serif;
}

body {
  background-color: #f4f6f8;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.title h2 {
  font-family: var(--indie) !important;
  color: var(--primiary-color);
  font-size: 34px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 300 !important;
}

h3 {
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--indie);
  font-weight: 200;
  color: #212b36;
  /* letter-spacing: 1px; */
}

.kahve h3,
.kahve h2 {
  font-family: var(--indie) !important;
}

.price {
  text-align: left;
  color: var(--primiary-color);
  font-size: 24px;
  font-family: var(--nunito) !important;
  font-weight: 400 !important;
}

.price-div {
  margin-top: 1rem;
  border-bottom: 3px dashed var(--primiary-color);
  justify-content: center;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.price p {
  margin-bottom: 0;
}

.div-no-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 3px dashed var(--primiary-color);
}

.price-div img {
  width: 100%;
  max-width: 150px;
}

.with-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.with-desc .desc {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: #637381;
  font-family: var(--indie);
}


.last{
    margin-bottom: 4rem;
}

.discount{
    margin-left: auto;
    margin-right: .7rem;
    text-decoration: line-through;
}

.kahve .div-no-img{
    align-items: center;
}

.kahve .div-no-img p:last-child{
    font-size: 1.3rem;
}